/* General */
* {
    box-sizing: border-box;
    margin: 0;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
body {
    padding: 60px 15vw;
}
/* Navbar */
nav {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
}
nav div {
    padding: 5px 10px 5px 0;
}
nav a:link, nav a:visited {
    color: #999;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
}
/* About */
.flex-container {
    display: flex;
    flex-flow: row nowrap;
    margin: 20px;
}
.flex-item {
    margin: 30px;
}
.profile {
    border-radius:50%;
    width: 100%;
}
h1 {
    font-size: 1.2em;
}
p {
    font-size: 1.2em;
    line-height: 1.4em;
    color: #333;
    width: 100%;
}
/* Skills */
#experience {
    position: relative;
    height: 40vh;
    border: 1px solid black;
}
#xp-background {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
#xp-background > div {
    flex: 25%;
    border: 1px dashed black;
}

#xp-text {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.skills {
    display: flex;
    flex-flow: row wrap;
    border: 1px solid black;
}
.skills > div {
    border: 1px dashed black;
    width: 300px;
    padding: 5px;
    margin: 5px;
}
/* Footer */
footer {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
footer div {
    padding: 5px 10px 5px 0;
}
footer a:link, footer a:visited {
    color: #999;
    text-decoration: none;
    font-weight: bold;
}
footer a:hover {
    text-decoration: underline;
}
#blurb {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}
/* Tablet */
@media screen and (max-width: 1000px) {
    .flex-item {
        margin: 5px;
    }
}
/* Mobile */
@media screen and (max-width: 700px) {
    body {
        padding: 5px;
    }
    .flex-container {
        flex-flow: column nowrap;
        margin: 0;
    }
    .profile {
        padding: 25px 50px;
    }
    #xp-background {
        flex-direction: column;
    }
}