/* General */
* {
    box-sizing: border-box;
    margin: 0;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
body {
    padding: 60px 15vw;
}
/* Navbar */
nav {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
}
nav div {
    padding: 5px 10px 5px 0;
}
nav a:link, nav a:visited {
    color: #999;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
}
/* Content */
.flex-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    border: 1px solid black;
}
.flex-item {
    border: 1px dashed black;
}
h1 {
    font-size: 1.3em;
}
p {
    font-size: 1.3em;
    line-height: 1.4em;
    color: #333;
}
/* Footer */
footer {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
footer div {
    padding: 5px 10px 5px 0;
}
footer a:link, footer a:visited {
    color: #999;
    text-decoration: none;
    font-weight: bold;
}
footer a:hover {
    text-decoration: underline;
}
ul.skills {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
ul.skills > li {
    float: left;
  /*  padding: 0px;
    text-align: center;*/
}
.grid-container {
    display: grid;
    grid-column-gap:10%;
    grid-template-columns:30% 70%;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
#blurb {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}
/* Mobile */
@media screen and (max-width: 800px) {
    body {
        padding: 5px;
    }
    flex-container {
        flex-flow: column nowrap;
        margin: 0;
    }
}