/* General */
* {
    box-sizing: border-box;
    margin: 0;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
body {
    padding: 60px 15vw;
}
h1 {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    letter-spacing: 2px;
    color: white;
}
h2 {
    font-size: 1.2em;
    padding-top: 1em;
}
p {
    font-size: 1.2em;
    line-height: 1.4em;
    color: #333;
    width: 100%;
}
#blurb {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    background: url(/images/medxl.jpg) no-repeat center;
    background-size: cover;
    overflow: hidden;
    opacity: 0.4;
}
/* Navbar */
nav {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
}
nav div {
    padding: 5px 10px 5px 0;
}
nav a:link, nav a:visited {
    color: #999;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
}
/* About */
.flex-container {
    display: flex;
    flex-flow: row nowrap;
    margin: 20px;
}
.flex-item {
    margin: 30px;
}
.profile {
    border-radius:50%;
    width: 100%;
}
/* Skills */
#experience {
    position: relative;
    height: 50vh;
}
#xp-background {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
#xp-background > div {
    flex: 25%;
    background-size: cover;
    overflow: hidden;
    opacity: 0.4;
}
#bg-1 {
    background: url(/images/slab-bag.jpg) no-repeat center;
}
#bg-2 {
    background: url(/images/flatwise.jpg) no-repeat center;
}
#bg-3 {
    background: url(/images/inner.jpg) no-repeat center;
}
#bg-4 {
    background: url(/images/mfe-close.jpg) no-repeat center;
}
#xp-text {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.skills {
    display: flex;
    flex-flow: row wrap;
    border: 1px solid black;
}
.skills > div {
    border: 1px dashed black;
    width: 300px;
    padding: 5px;
    margin: 5px;
}
/* Footer */
footer {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
footer div {
    padding: 5px 10px 5px 0;
}
footer a:link, footer a:visited {
    color: #999;
    text-decoration: none;
    font-weight: bold;
}
footer a:hover {
    text-decoration: underline;
}
/* Tablet */
@media screen and (max-width: 1000px) {
    .flex-item {
        margin: 5px;
    }
}
/* Mobile */
@media screen and (max-width: 700px) {
    body {
        padding: 5px;
    }
    .flex-container {
        flex-flow: column nowrap;
        margin: 0;
    }
    .profile {
        padding: 25px 50px;
    }
}