<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<meta charset="utf-8">
			<meta name="author"      content="Noah Ferrarotto">
			<meta name="description" content="My portfolio website">
			<meta name="keywords"    content="Noah,Ferrarotto,engineer,mechanical">
			<meta name="viewport"    content="width=device-width, initial-scale=1.0">
			<meta name="google-site-verification" content="bGr510SSiq7hH_s-I_MXbNeUBIef3FCZ1AGBVhkbBQ4" />
		</head>
		<body>
			<nav>
				<div> <a href="/" style="color:black">Noah Ferrarotto</a> </div>
				<div> <a href="/about">about me</a> </div>
				<div> <a href="/skills">skills</a> </div>
				<div> <a href="/projects">projects</a> </div>
				<div> <a href="/resume.pdf" target="_blank">resume</a> </div>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
    			<div><a href="mailto:noah.ferrarotto@mail.mcgill.ca">email</a></div>
    			<div><a href="https://github.com/noahfer">github</a></div>
    			<div><a href="https://www.linkedin.com/in/noahferrarotto/">linkedin</a></div>
    			<div><a href="https://www.instagram.com/noahferrarotto/">instagram</a></div>
    			<div><a href="https://www.strava.com/athletes/7772378">strava</a></div>
			</footer>
		</body>
	</html>
