<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<meta charset="utf-8">
			<meta name="author"      content="Noah Ferrarotto">
			<meta name="description" content="My portfolio website">
			<meta name="keywords"    content="Noah,Ferrarotto,engineer,mechanical">
			<meta name="viewport"    content="width=device-width, initial-scale=1.0">
		</head>
		<body>
			<nav>
				<ul>
					<li> <a href="/" style="color:black">Noah Ferrarotto</a> </li>
					<li> <a href="/about">about me</a> </li>
					<li> <a href="/skills">skills</a> </li>
					<li> <a href="/projects">projects</a> </li>
					<li> <a href="/resume.pdf" target="_blank">resume</a> </li>
				</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
    			<ul>
        			<li><a href="mailto:noah.ferrarotto@mail.mcgill.ca">email</a></li>
        			<li><a href="https://github.com/noahfer">github</a></li>
        			<li><a href="https://www.linkedin.com/in/noahferrarotto/">linkedin</a></li>
        			<li><a href="https://www.instagram.com/noahferrarotto/"></a>instagram</li>
				</ul>
			</footer>
		</body>
	</html>
